[Unit]
Description=uWSGI Service
After=network.target

[Service]
User=www-apps
Group=www-apps
WorkingDirectory=/home/www-apps/www/hummaps/
ExecStart=/home/www-apps/www/hummaps/venv/bin/uwsgi /home/www-apps/www/hummaps/uwsgi/uwsgi.ini

[Install]
WantedBy=multi-user.target
