[Unit]
Description=uWSGI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/pi/www/hummaps/
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/www/hummaps/uwsgi/uwsgi.ini

[Install]
WantedBy=multi-user.target
