{% extends 'bootstrap/base.html' %}

{%- block styles %}
    <!-- styles for jquery, bootstrap, site -->
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css', v='17.12.07') }}" rel="stylesheet">
{%- endblock styles -%}

{%- block head %}
{{- super() }}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
{%- endblock head %}

{% block body %}
{% block dialog %}{% endblock dialog %}
{% block navbar %}
<!-- begin navbar block -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-tree-conifer"></span> Humboldt Map Index</a>
        </div>
        <div id="searchbar" class="collapse navbar-collapse">
{% block navigation %}{% endblock navigation %}
        </div> <!--/.nav-collapse -->
      </div>
    </nav>
<!-- end navbar block -->
{%- endblock navbar -%}

{% block content %}
<!-- begin content block -->
  <div id="content-frame" class="container-fluid">
  {%- with messages = get_flashed_messages(with_categories=True), transform = {
    'critical': 'danger',
    'error': 'danger',
    'warning': 'warning',
    'info': 'info',
    'debug': 'info',
    'success': 'success',
  }, glyphicon = {
    'critical': 'exclamation',
    'error': 'exclamation',
    'warning': 'exclamation',
    'info': 'info',
    'debug': 'info',
    'success': 'ok',
  } -%}
  {%- if messages %}
<!-- begin flashed messages -->
    <div class="container flashed-messages">
      {%- for cat, msg in messages %}
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="alert alert-{{ transform.get(cat, 'info') }}" role="alert">
            <span class="glyphicon glyphicon-{{ glyphicon.get(cat, 'info') }}-sign"></span> {{msg|safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
<!-- end flashed messages -->
  {%- endif -%}
  {%- endwith %}
  {% block page %}
  {% endblock page %}
  </div>
<!-- end content block -->
{% endblock content -%}

{%- block scripts -%}
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-3.3.7.custom.min.js') }}"></script>
{%- endblock scripts -%}
{%- endblock body -%}