{% extends 'base.html' %}

{%- block title %}GPX Tools{% endblock title %}

{%- block styles %}
{{- super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{%- endblock styles -%}

{%- block head %}
{{- super() }}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
{%- endblock head %}

{%- block navigation %}
<!-- begin navigation controls block -->
<!-- end navigation controls -->
{%- endblock navigation -%}

{% block page %}
<!-- begin page content block -->
  <div class="jumbotron">
    <h1>GPX Tools</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
<!-- end page content block -->
{%- endblock page -%}

{% block scripts %}
<!-- begin scripts block -->
    {{- super() }}
<!-- end scripts block -->
{% endblock scripts %}
