{% extends 'bootstrap/base.html' %}

{%- block title %}Humboldt Map Index{% endblock %}

{%- block styles %}
{{- super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{%- endblock styles -%}

{%- block head %}
{{- super() }}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
{%- endblock head %}

{%- block body_attribs %}{% endblock body_attribs %}

{%- block navbar %}
<!-- begin navbar block -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-tree-conifer"></span> Humboldt Map Index</a>
      </div>

      <div class="collapse navbar-collapse" id="searchbar">

        <ul class="nav navbar-nav navbar-left">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search" action="{{ url_for('index') }}" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                  {{ form.description(class='form-control', autofocus=True, placeholder="Search for...") }}
                </div>
              </div>
            </form>
          </li>
          <li><a id="show-maps" href="#">maps</a></li>
{#          <li><a id="prev-map" href="#">&lsaquo;&lsaquo;</a></li>#}
          <li><a id="prev" href="#">prev</a></li>
          <li><a id="next" href="#">next</a></li>
{#          <li><a id="next-map" href="#">&rsaquo;&rsaquo;</a></li>#}
          <li><a href="https://github.com/chasmack/hummaps" target="_blank">about</a></li>
        </ul>
      </div> <!--/.nav-collapse -->
    </div>
  </nav>
<!-- end navbar block -->
{%- endblock navbar -%}

{%- block content %}
  <div id="content-frame" class="container-fluid">

<!-- begin flashed messages -->
    {%- with messages = get_flashed_messages(with_categories=True), transform = {
      'critical': 'danger',
      'error': 'danger',
      'warning': 'warning',
      'info': 'info',
      'debug': 'info',
      'success': 'success',
    }, glyphicon = {
      'critical': 'exclamation',
      'error': 'exclamation',
      'warning': 'exclamation',
      'info': 'info',
      'debug': 'info',
      'success': 'ok',
    } -%}
    {%- if messages %}
    <div class="container flashed-messages">
      {%- for cat, msg in messages %}
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="alert alert-{{ transform.get(cat, 'info') }}" role="alert">
            <span class="glyphicon glyphicon-{{ glyphicon.get(cat, 'info') }}-sign"></span> {{msg|safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {%- endif -%}
    {%- endwith %}
<!-- end flashed messages -->

<!-- begin content block -->
    <div id="map-list" class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          {% if count > results|length %}
          <h3 class="text-center">Showing 1-{{ results|count }} of {{ count }}</h3>
          {% elif count > 1 %}
          <h3 class="text-center">{{ count }} maps</h3>
          {% elif count == 1 %}
          <h3 class="text-center">1 map</h3>
          {% else %}
          <h3 class="text-center">No maps</h3>
          {% endif %}
          <div class="list-group">
            {% for map in results %}
            <a href="#" class="list-group-item map-item{% if map.mapimages|length == 0 %} disabled {% endif %}">
              {% if map.mapimages|length > 0 or map.certs|length > 0 %}
              <div class="map-images" style="display: none;">
                {% for mapimage in map.mapimages %}
                <img src="{{ mapimage.imagefile }}" alt="{{ map.bookpage }}">
                {% endfor %}
                {% for cc in map.certs %}
                {% for ccimage in cc.ccimages %}
                <img src="{{ ccimage.imagefile }}" alt="{{ cc.doc_number }}">
                {% endfor %}
                {% endfor %}
              </div>
              {% endif %}
              <h4 class="list-group-item-heading">{{ map.heading }}</h4>
              <p class="list-group-item-text">{{ map.line1 }}</p>
              {% if map.line2 %}
              <p class="list-group-item-text">{{ map.line2 }}</p>
              {% endif %}
              <p class="list-group-item-text">{{ map.line3 }}</p>
              {% if map.certs|length > 0 %}
              {%  set comma = joiner(", ") %}
              <p class="list-group-item-text">Certificates of Correction:
              {% for cc in map.certs %}{{ comma() }}{{ cc.doc_number }}{% endfor %}
              </p>
              {% endif %}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="map-frame">
      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="blank">
    </div>
  </div>

<!-- end content block -->
{%- endblock content -%}

{%- block scripts %}
{{- super() }}
  <script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hummaps.js') }}"></script>
{%- endblock scripts -%}
