{% extends 'base.html' %}

{%- block title %}Survey Tools{% endblock title %}

{%- block styles %}
{{- super() }}
  <style>
    dt, dd {
      padding-top: 10px;
    }
  </style>
{%- endblock styles -%}

{%- block navigation %}
<!-- begin navigation controls block -->
<!-- end navigation controls -->
{%- endblock navigation -%}

{% block page %}
<!-- begin page content block -->
  <dt class="container" style="margin-top: 75px">

    <h2 class="text-center">Survey Tools</h2>
    <div class="well">
      <dl class="dl-horizontal">

        <dt><a href="{{ url_for('gpx') }}">GPX</a></dt>
        <dd>Convert between PNEZD points and GPX waypoints</dd>

        <dt><a href="{{ url_for('hummaps') }}">Hummaps</a></dt>
        <dd>Humboldt County map index</dd>

        <dt><a href="{{ url_for('polycalc') }}">Polycalc</a></dt>
        <dd>Create DXF polylines from a command file</dd>

      </dl>
    </div>
  </div>
<!-- end page content block -->
{%- endblock page -%}

{% block scripts %}
<!-- begin scripts block -->
    {{- super() }}
<!-- end scripts block -->
{% endblock scripts %}
