{% extends 'base.html' %}

{%- block title %}Humboldt Map Index{% endblock title %}
{%- block styles %}
{{- super() }}
<style>
.map-item {
  position: relative;
  z-index: 0;
}
.pdf-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 10;
}
</style>
{%- endblock styles -%}

{%- block navigation %}
<!-- begin navigation controls block -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search" action="{{ request.path }}" method="get">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                  <input id="search-query" class="form-control" type="text" name="q" value="{{ query }}" placeholder="Search for..." autofocus autocomplete="off" spellcheck="false">
                </div>
              </div>
            </form>
          </li>
          <li><a id="launch-dialog" data-toggle="modal" href="#search-dialog">popup</a></li>
          <li><a id="show-maps" href="#">maps</a></li>
          <li><a id="next" href="#">next</a></li>
          <li><a id="prev" href="#">prev</a></li>
          <li><a href="https://github.com/chasmack/hummaps/blob/master/README.md" target="_blank">about</a></li>
          <li><a href="https://github.com/chasmack/hummaps/blob/master/LOGS.md" target="_blank">logs</a></li>
        </ul>
<!-- end navigation controls -->
{%- endblock navigation -%}

{% block page %}
<!-- begin page content block -->
    <div id="map-list" class="container-fluid" hidden>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          {% if not results -%}
          <h3 class="text-center">No maps</h3>
          {%- else -%}
          {%- if total > results|length -%}
          <h3 class="text-center">Showing 1-{{ results|count }} of {{ total }}</h3>
          {%- elif total > 1 -%}
          <h3 class="text-center">{{ results|count }} maps</h3>
          {%- else -%}
          <h3 class="text-center">1 map</h3>
          {%- endif %}
          <div class="list-group">
            {%- for map in results %}
            <div class="map-item">
              <!-- map item -->
              <a href="#" class="list-group-item map-info{%- if map.mapimages|length == 0 %} disabled{%- endif -%}" data-toggle="tooltip" title="map id: {{ map.id }}">
                <h4 class="list-group-item-heading">{{ map.heading }}</h4>
                <p class="list-group-item-text">{{ map.line1 }}</p>
                <p class="list-group-item-text">{{ map.line2 }}</p>
                {% if map.line3 -%}
                <p class="list-group-item-text">{{ map.line3 }}</p>
                {%- endif %}
                {% if map.line4 -%}
                <p class="list-group-item-text">{{ map.line4 }}</p>
                {%- endif %}
                {%- if map.certs|length > 0 -%}
                {%-  set comma = joiner(", ") %}
                <p class="list-group-item-text">Certificates of Correction: {% for cc in map.certs %}{{ comma() }}{{ cc.doc_number }}{% endfor %}</p>
                {% endif -%}
                {% if map.mapimages|length > 0 or map.certs|length > 0 %}
                <!-- list of map images -->
                <div class="map-image-list" style="display: none;">
                  {% for mapimage in map.mapimages -%}
                  <div class="map-image" data-src="{{ mapimage.imagefile }}" data-alt="{{ map.bookpage }} {{ mapimage.page }}/{{ map.mapimages|length }}"></div>
                  {% endfor -%}
                  {%- for cc in map.certs -%}
                  {% for ccimage in cc.ccimages -%}
                  <div class="map-image" data-src="{{ ccimage.imagefile }}" data-alt="{{ cc.doc_number }}"></div>
                {%- endfor %}
                {% endfor %}
                </div>
                {%- endif %}
                {%  if map.scans|length > 0 -%}
                <div class="scanfile-list" style="display: none;">
                {%- for scan in map.scans %}
                  <div class="scanfile" data-href="{{ scan.scanfile }}" data-alt="{{ scan.scanfile|basename|upper }}"></div>
                {%- endfor %}
                </div>
                {%- endif %}
              </a>
              {% if map.pdf %}
              <!-- link to the pdf -->
              <a href="{{ map.pdf.pdffile }}" download="{{ map.pdf.pdffile|basename }}.pdf"><button class="btn btn-default btn-xs pdf-button" style="padding: 2px 8px;"><strong>PDF</strong></button></a>
              {% endif %}
            </div>
            {%- endfor %}
          </div>
          {%- endif %}
        </div>
      </div>
    </div>
    <div id="map-frame" style="display: none">
      <div id="loader-frame" style="display: none;">
        <div id="loader"></div>
        <span style="margin-left: 12px;">Loading map image...</span>
      </div>
      <div id="map-name">
        <span></span>
      </div>
<!-- end page content block -->
{%- endblock page -%}

{% block dialog -%}
<!-- begin modal dialog -->
    <div id="search-dialog" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="queryModalLabel">Map Search</h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal">

              <div class="form-group">
                <label for="input-section" class="col-md-3 control-label">Section</label>
                <div class="col-md-7">
                  <input id="input-section" type="text" class="dialog-circulate form-control" placeholder="eg. s23" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-township" class="col-md-3 control-label">Township</label>
                <div class="col-md-7">
                  <input id="input-township" type="text" class="dialog-circulate form-control" placeholder="eg. 8n" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-range" class="col-md-3 control-label">Range</label>
                <div class="col-md-7">
                  <input id="input-range" type="text" class="dialog-circulate form-control" placeholder="eg. 4e" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-recdate" class="col-md-3 control-label">Date</label>
                <div class="col-md-3">
                  <input id="input-recdate" type="text" class="dialog-circulate form-control" placeholder="eg. 12/2017" autocomplete="off" spellcheck="false">
                </div>
                <label for="input-recdate-to" class="col-md-1 control-label">To</label>
                <div class="col-md-3">
                  <input id="input-recdate-to" type="text" class="dialog-circulate form-control" placeholder="" autocomplete="off" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-surveyor" class="col-md-3 control-label">Surveyor</label>
                <div class="col-md-7">
                  <input id="input-surveyor" type="text" class="dialog-circulate typeahead form-control" placeholder="type a name or number..." autocomplete="off" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-client" class="col-md-3 control-label">Client</label>
                <div class="col-md-7">
                  <input id="input-client" type="text" class="dialog-circulate form-control" placeholder="type a client or subdivision..." spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label for="input-description" class="col-md-3 control-label">Description</label>
                <div class="col-md-7">
                  <input id="input-description" type="text" class="dialog-circulate form-control" placeholder="type a word or phrase..." spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Map Type</label>
                <div class="maptype checkbox col-md-4">
                  <label><input type="checkbox" checked>Corner Records (CR)</label>
                </div>
                <div class="maptype checkbox col-md-4">
                  <label><input type="checkbox" checked>Parcel Maps (PM)</label>
                </div>
              </div>
              <div class="form-group">
                <div class="maptype checkbox col-md-4 col-md-offset-3">
                  <label><input type="checkbox" checked>Subdivision Maps (RM)</label>
                </div>
                <div class="maptype checkbox col-md-4">
                  <label><input type="checkbox" checked>Surveys (RS)</label>
                </div>
              </div>
              <div class="form-group">
                <div class="maptype checkbox col-md-4 col-md-offset-3">
                  <label><input type="checkbox" checked>Unrecorded Maps (UR)</label>
                </div>
                <div class="maptype checkbox col-md-4">
                  <label><input type="checkbox" checked>Others (HM, MM)</label>
                </div>
              </div>

              <div class="form-group">
                <label for="input-maps" class="col-md-3 control-label">Individual Maps</label>
                <div class="col-md-7">
                  <input id="input-maps" type="text" class="dialog-circulate form-control" placeholder="eg. 68rs136 26pm151 21rm80" spellcheck="false">
                </div>
                <div class="help-popover col-md-1 control-label">
                  <a href="#" tabindex="-1"><span class="glyphicon glyphicon-info-sign"></span></a>
                </div>
              </div>

            </form>
          </div>

          <div class="modal-footer" style="border-top-style: None;">
            <div class="col-md-7 col-md-offset-3" style="text-align: left;">
              <span id="help-block"></span>
            </div>
            <div class="col-md-2">
              <button id="search-submit" type="button" class="btn btn-primary btn-sm btn-block">Search</button>
            </div>
          </div>

        </div>
      </div>
    </div>
<!-- end modal dialog -->
{%- endblock dialog -%}

{% block scripts %}
<!-- begin scripts block -->
    {{- super() }}
    <script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hummaps.js', v='17.12.07') }}"></script>
    <script>

    $(function () {

      $('#search-dialog')
        .on('shown.bs.modal', function(e) {
          // Disable arrow key navigation when modal is open
          disableKeyboardNavigation = true;
          $('#input-section').focus();

        }).on('hide.bs.modal', function(e) {
          // Re-enable arrow key navigation annd hide any popovers
          disableKeyboardNavigation = false;
          $('div.help-popover').each(function(index) {
            $(this).popover('hide');
          });
        });

      $('#search-dialog').delegate('input.dialog-circulate', 'keypress', function(e) {
        if (e.which == 13) {
          var $circ = $('input.dialog-circulate');
          var i = $circ.index(this) + 1;
          if (i < $circ.length) {
            $circ.eq(i).focus();
            e.preventDefault();
          }
        }
      });

      // Initialize the BS popover plugin
      $('[data-toggle="popover"]').popover();

      // Initialize the help popovers
      $('#input-section').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type one or more section numbers separated by space -</p>' +
            '<p style="padding-left: .5em"><strong>S12</strong></p>' +
            '<p style="padding-left: .5em"><strong>S11 S12 S13 S14</strong></p>' +
            '<p>Subsections can be added in front of the section numbers -</p>' +
            '<p style="padding-left: .5em"><strong>S/2 S12</strong></p>' +
            '<p style="padding-left: .5em"><strong>NE/4 SW/4 S16</strong></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-township').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a single township number followed by "N" or "S" - <strong>T6N</strong></p>' +
            '<p>The "T" prefix is optional - <strong>6N</strong></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-range').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a single range number followed by "E" or "W" - <strong>R4E</strong></p>' +
            '<p>The "R" prefix is optional - <strong>4E</strong></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-recdate').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a year, month or day like -</p>' +
            '<p style="padding-left: .5em"><strong>2017</strong> or <strong>6/2017</strong> or <strong>6/22/2017</strong></p>' +
            '<p>Use an optional second date in the "To" field to specify a date range.</p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-surveyor').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a few characters of a name or LS/RCE number and select a surveyor from the list.</p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-client').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a client or subdivision name. This field supports a limited set of ' +
            '<a href="https://www.postgresql.org/docs/9.4/static/functions-matching.html#FUNCTIONS-POSIX-REGEXP" target="_blank">' +
            'regular expressions.</a></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-description').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type a word or phrase from the map description. This field supports a limited set of ' +
            '<a href="https://www.postgresql.org/docs/9.4/static/functions-matching.html#FUNCTIONS-POSIX-REGEXP" target="_blank">' +
            'regular expressions.</a></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      $('#input-maps').parent().nextAll('.help-popover').popover({
         trigger: 'manual',
         container: 'body',
         html: true,
         content:
            '<p>Type one or more maps specifying book and page, parcel map number or tract number -</p>' +
            '<p style="padding-left: .5em"><strong>68RS136</strong></p>' +
            '<p style="padding-left: .5em"><strong>PM2938</strong></p>' +
            '<p style="padding-left: .5em"><strong>TR445</strong></p>' +
            '<p>Separate multiple maps with space -</p>' +
            '<p style="padding-left: .5em"><strong>68RS136 26PM151 21RM80</strong></p>'
      }).on('click', function(e) {
        var $this = $(this);
        if ($('div.popover:visible').length) {
          $('div.help-popover').not($this).each(function(index) {
            $(this).popover('hide');
          });
        }
        $this.popover('toggle');
      });

      // Lazy initialization of the surveyor typeahead
      $('#input-surveyor').one('input', function(e) {
        var $this = $(this);
        $.get('/', { req: 'surveyors' }, function(data) {
          console.log('init surveyor typeahead: ' + data.length + ' items');
          $this.typeahead({
            source: data,
            appendTo: '#search-dialog',
            minLength: 2,
            items: 10
          });
        }, 'json');
      });

      // Validation callbacks
      $('#input-section').on('blur', function(e) {
        var $this = $(this);
        var val = $this.val().trim();

        if (val.length > 0) {

          // Check for one or more Section Specs consisting of an optional
          // subsection followed by an "S" and one or two digits. Multiple
          // Section Specs are separated by space or a comma and optional space.
          //
          // Example: SW/4 SW/4 S1, E/2 S2, N/2 N/2 S12
          //
          // Valid subsections are -
          //  (1) [NS][EW]/4\s+[NS][EW]/4   eg. NW/4 SE/4 (40 ac)
          //  (2) [NSEW]/2\s+[NS][EW]/4     eg. N/2 SE/4 (80 ac)
          //  (3) [NS]/2\s+[NS]/2           eg. N/2 S/2 (160 ac)
          //  (4) [EW]/2\s+[EW]/2           eg. E/2 W/2 (160 ac)
          //  (5) [NS][EW]/4                eg. NE/4 (160 ac)
          //  (6) [NSEW]/2                  eg. E/2 (320 ac)
          //  (7) 1/1                       Shorthand for the full section (640 ac)
          //
          // Expressions like E/2 N/2 are not valid. Use NE/4 instead.
          // Expressions like NW/4 E/2 are not valid. You probably want W/2 NE/4.

          var pat = '' +
              '(([NS][EW]/4|[NSEW]/2)\\s+)?[NS][EW]/4\\s+' +    // (1), (2) & (5)
              '|([NS]/2\\s+)?[NS]/2\\s+' +                      // (3) & part of (6)
              '|([EW]/2\\s+)?[EW]/2\\s+' +                      // (4) & part of (6)
              '|1/1\\s+';                                       // (7)

          pat = '(' + pat + ')?' + 'S\\d{1,2}';                 // a Section Spec

          // Line anchors, join alternatives and a negative lookahead to exclude a starting comma
          pat = '(?!^,)^((^|,\\s*|\\s+)(' + pat + '))+$';

          var re = new RegExp(pat, 'i');
          console.log(pat);

          var error_msg = '';
          if (!re.test(val)) {
            var m = val.split(/(?<=S\d+)(,\s*|\s+)/i);
            for (var i = 0; i < m.length; i += 2) {
              if (!re.test(m[i])) {
                error_msg = 'Bad section: ' + m[i];
                break;
              }
            }

          } else {
            // Check section numbers.
            var m = val.split(/(?<=S\d+)(,\s*|\s+)/i);
            for (var i = 0; i < m.length; i += 2) {
              var n = parseInt(m[i].replace(/.*S(\d+)/i, '$1'));
              if (n < 1 || n > 36) {
                error_msg = 'Bad section number: ' + m[i];
                break;
              }
            }
          }
          if (error_msg) {
            $('#input-section').closest('.form-group').addClass('has-error');
            $('#help-block').removeClass('text-primary').addClass('text-danger').text(error_msg);
          } else {
            $('#input-section').closest('.form-group').removeClass('has-error');
            $('#help-block').removeClass('text-danger').addClass('text-primary').text('');
          }

        }
      });

      $('#input-township').on('blur', function(e) {
        var $this = $(this);
        var val = $this.val().trim();

        if (val.length > 0) {
          var re = new RegExp('^T?\\d{1,2}[NS]$', 'i');
          var error_msg = '';
          if (!re.test(val)) {
            error_msg = 'Bad township: ' + val;
          }
          if (error_msg) {
            $('#input-township').closest('.form-group').addClass('has-error');
            $('#help-block').removeClass('text-primary').addClass('text-danger').text(error_msg);
          } else {
            $('#input-township').closest('.form-group').removeClass('has-error');
            $('#help-block').removeClass('text-danger').addClass('text-primary').text('');
          }
        }
      });

      $('#input-range').on('blur', function(e) {
        var $this = $(this);
        var val = $this.val().trim();

        if (val.length > 0) {
          var re = new RegExp('^R?\\d{1,2}[EW]$', 'i');
          var error_msg = '';
          if (!re.test(val)) {
            error_msg = 'Bad range: ' + val;
          }
          if (error_msg) {
            $('#input-range').closest('.form-group').addClass('has-error');
            $('#help-block').removeClass('text-primary').addClass('text-danger').text(error_msg);

          } else {
            $('#input-range').closest('.form-group').removeClass('has-error');
            $('#help-block').removeClass('text-danger').addClass('text-primary').text('');
          }
        }
      });


      function validateAndSubmit(e) {

        var sec = $('#input-section').val();
        var tshp = $('#input-township').val();
        var rng = $('#input-range').val();
        var recdate = $('#input-recdate').val();
        var recdate_to = $('#input-recdate-to').val();
        var surveyor = $('#input-surveyor').val().replace(/ \(.*/, '');
        var client = $('#input-client').val();
        var desc = $('#input-description').val();
        var maps = $('#input-maps').val();

        $('#search-dialog').modal('hide');

        var q = '';
        if (tshp.length > 0 && rng.length > 0) {
          q += tshp + ' ' + rng;
          if (sec.length > 0) {
            q = sec + ' ' + q;
          }
        }

        if (recdate.length > 0) {
          if (recdate_to.length > 0) {
            q += ' date="' + recdate + ' ' + recdate_to + '"';
          } else {
            q += ' date=' + recdate;
          }
        }

        if (surveyor.length > 0) {
          q += ' by="' + surveyor + '"';
        }

        if (client.length > 0) {
          q += ' for="' + client + '"';
        }

        if (desc.length > 0) {
          q += ' desc="' + desc + '"';
        }

        if (q.length > 0 && $('div.maptype input').not(':checked').length > 0) {
          // Only need maptypes if something is not checked to qualify other parts of a search
          var maptypes = '';
          $('div.maptype input:checked').each(function (i) {
            maptypes += ' ' + $(this).parent().text().replace(/.*\((.*)\).*/, '$1');
          });
          if (maptypes.length > 0) {
            q += ' type=' + maptypes.trim().replace(/,?\s+/g, '|').toLowerCase();
          }
        }

        if (maps.length > 0) {
          q += ' ' + maps;
        }

        if (q.length > 0) {
          $('#search-query').val(q);
          window.location.href = '/?q=' + q.trim();
        }

      }

      $('#search-submit').on('click', validateAndSubmit);

      // Enter in the maps input triggers search
      $('#input-maps').on('keydown', function(e) {
        if (e.keyCode == 13) {
          $('#search-submit').trigger('click')
        }
      })

    });

    </script>
<!-- end scripts block -->
{% endblock scripts %}
