{% extends "base.html" %}

{%- block page_content %}
  <section id="map">
    <h2>20 Parcel Maps 112</h2>
    <div class="panzoom-parent" style="overflow: hidden; position: relative;">
      <img class="panzoom" src="/maps/rs/051/051rs145.jpg" width="2600" height="1800" style="transform: matrix(1.2, 0, 0, 1.2, 0, 0); backface-visibility: hidden; transform-origin: 10% 10% 0px; cursor: move; transition: transform 200ms ease-in-out;">
    </div>
    <div class="buttons" style="overflow: hidden; position: relative;">
      <button class="zoom-in">Zoom In</button>
      <button class="zoom-out">Zoom Out</button>
      <input type="range" class="zoom-range" step="0.05" min="0.4" max="5">
      <button class="reset">Reset</button>
    </div>
    <style>
      #map .panzoom { width: 100%; height: 100%; }
    </style>
  </section>
{%- endblock page_content -%}

{%- block scripts %}
{{- super() }}
  <script src="{{ url_for('static', filename='js/lib/jquery.panzoom.js') }}"></script>
  <script type="text/javascript">
    (function() {
      var $section = $('#map');
      $section.find('.panzoom').panzoom({
      $zoomIn: $section.find(".zoom-in"),
      $zoomOut: $section.find(".zoom-out"),
      $zoomRange: $section.find(".zoom-range"),
      $reset: $section.find(".reset")
    });
  })();
  </script>
{%- endblock scripts -%}




